<!doctype html>
<html>
	<head>
		<title>Auto-HUD</title>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/underscore.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
	</head>
	<body>
		<script id="presentation-template" type="text/template">
			<h2><%= time %></h2>
			<h3><%= date %></h3>
		</script>

		<script>
			AutoHUD.init({{ params|safe }});
		</script>
	</body>
</html>
