<!doctype html>
<html>
	<head>
		<title>Auto-HUD</title>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/underscore.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
	</head>
	<body>
		<script id="presentation-template" type="text/template">
			<% if (d.time) { %>
				<h2><%= d.time %></h2>
			<% } %>
			<% if (d.date) { %>
				<h3><%= d.date %></h3>
			<% } %>

			<% if (d.birthdays && d.birthdays.length) { %>
				<ul class="birthdays">
					<% _.each((d.birthdays), function(birthday) { %>
						<li>
							Today is <%= birthday.name %>'s <%= birthday.age %><%= birthday.postfix %> birthday!
						</li>
					<% }) %>
				</ul>
			<% } %>
		</script>

		<script>
			AutoHUD.init({{ params|safe }});
		</script>
	</body>
</html>
