<!doctype html>
<html>
	<head>
		<title>Auto-HUD</title>
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-2.1.4.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/underscore.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/weather_test.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/build.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
	</head>
	<body>
		{% for section in params.C.sections %}
			<div id="{{ section }}-wrapper"></div>
		{% endfor %}

		<script id="time-template" type="text/template">
			<% if (d.time) { %>
				<h2 class="hud-section hud-section-time">
					<%= d.time.hours %>:<%= d.time.minutes %>:<%= d.time.seconds %>
				</h2>
			<% } %>
		</script>

		<script id="date-template" type="text/template">
			<% if (d.date) { %>
				<h3 class="hud-section hud-section-date">
					<%= d.date.month %> <%= d.date.day %>, <%= d.date.year %>
				</h3>
			<% } %>
		</script>

		<script id="birthdays-template" type="text/template">
			<% if (d.birthdays && d.birthdays.length) { %>
				<ul class="hud-section hud-section-birthdays">
					<% _.each((d.birthdays), function(birthday) { %>
						<li>
							Today is <%= birthday.name %>'s <%= birthday.age %><%= birthday.postfix %> birthday
						</li>
					<% }) %>
				</ul>
			<% } %>
		</script>

		<script id="chores-template" type="text/template">
			<% if (d.chores && d.chores.length) { %>
				<ul class="hud-section hud-section-birthdays">
					<% _.each((d.chores), function(chore) { %>
						<li>
							<%= chore.text %>
							<% if (chore.icon) { %>
								<span class="icon <%= chore.icon %>"></span>
							<% } %>
						</li>
					<% }) %>
				</ul>
			<% } %>
		</script>

		<script id="weather-template" type="text/template">
			<% if (d.weather) { %>
				<ul class="hud-section hud-section-weather">
					<li class="hud-section-weather-current">
						<%= d.weather.current.temperature %>, <%= d.weather.current.summary %>
						<% if (d.weather.current.icon) { %>
							<span class="hud-section-weather-icon <%= d.weather.current.icon %>"></span>
						<% } %>
					</li>
					<li class="hud-section-weather-preview">
						<% if (d.weather.preview.tomorrow) { %>
							Tomorrow:
						<% } %>
						<%= d.weather.preview.low %>
						/
						<%= d.weather.preview.high %>
						<%= d.weather.preview.summary %>
						<% if (d.weather.preview.icon) { %>
							<span class="hud-section-weather-icon <%= d.weather.preview.icon %>"></span>
						<% } %>
					</li>
				</div>
			<% } %>
		</script>

		<script id="subway-template" type="text/template">
			<% if (d.subway) { %>
				<ul class="hud-section hud-section-subway">
					<% _.each(_.keys(d.subway), function(line) { %>
						<li>
							<%= line %>: <%= d.subway[line] %>
						</li>
					<% }) %>
				</ul>
			<% } %>
		</script>

		<script id="noConnection-template" type="text/template">
			<% if (d.noConnection) { %>
				<div class="hud-section hud-section-no-server">
					no connection
					<span class="icon alert"></span>
				</div>
			<% } %>
		</script>

		<script>
			AutoHUD.init({{ params|safe }});
		</script>
	</body>
</html>
